<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="mui.css">
    <link rel="stylesheet" href="style.css">
    <script src="mui.js"></script>
    <script src="include.js"></script>

    <title> Dashboard</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <span w3-include-html="nav.html"></span>
    <br>
    <br>
    <div id="form" class="mui-panel" style="width: 30%; padding:20px; box-sizing:border-box">
        <form class="mui-form" method="post" action="/charge">
            <legend>Charge

                (<% cout << context["money"]; %>)
            </legend>
            <div style="display:inline-block" class="mui-textfield mui-textfield--float-label">
                <input type="text" name="amount" required>
                <label>Amount</label>
            </div>
            <div>
                <button type="submit" class="mui-btn mui-btn--primary">Charge</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div class="mui--text-display2">Purchased Films</div>
    <hr>
    <div class="films">
        <% cout << context["films"]; %>
    </div>
</body>

<script>
    includeHTML();
</script>

</html>