<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="mui.css">
    <link rel="stylesheet" href="style.css">
    <script src="include.js"></script>
    <script src="mui.js"></script>
    <title>Film </title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <span w3-include-html="nav.html"></span>
    <br>
    <br>
    <div style="width:50%; margin:auto">
        <% cout << context["film"]; %>
        <hr>

    </div>
    <div style="width:100%; margin-top:50px;">
        <div class="mui--text-display1" style="margin-bottom:50px;">Comments</div>
        <% cout << context["comments"]; %>

    </div>
</body>

<script>
    includeHTML();
</script>

</html>