<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="mui.css">
    <link rel="stylesheet" href="style.css">
    <script src="mui.js"></script>
    <title>Film </title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <ul class="mui-tabs__bar nav_bar" style="background-color:#2196F3;">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/addFilm">Add Film</a></li>

        <li style="float:right"><a href="/logout">Logout</a></li>
        <li style="float:right"><a href="/login">Login</a></li>
        <li style="float:right"><a href="/signup">SignUp</a></li>

    </ul> <br>
    <br>
    <div style="width:50%; margin:auto">
        <% cout << context["film"]; %>
        <hr>

    </div>

    <div style="width:100%; margin-top:50px;">
        <div id="form" class="mui-panel" style="width: 30%; padding:20px; box-sizing:border-box">
            <form class="mui-form" method="post" action="/comment">
                <legend>Comment</legend>
                <div style="display:inline-block" class="mui-textfield mui-textfield--float-label">
                    <input type="text" name="content" required>
                    <input type="hidden" name="film_id" value='
                    <% cout << context["film_id"]; %>
                    '>
                    <label>Comment</label>
                </div>
                <div>
                    <button type="submit" class="mui-btn mui-btn--primary">Send</button>
                </div>
            </form>
        </div>
        <div class="mui--text-display1" style="margin-bottom:50px;">Comments</div>
        <% cout << context["comments"]; %>

    </div>

    <% cout << context["rec"]; %>
</body>

<script>
    includeHTML();
</script>

</html>