<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/mui.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/include.js"></script>
    <script src="../js/mui.js"></script>
    <title>Film | Film Name</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <span w3-include-html="nav.html"></span>
    <br>
    <br>
    <div style="width:50%; margin:auto">
        <div class="mui--text-headline">Snowden</div>
        <div class="mui--text-dark-secondary mui--text-caption">2018</div>
        <hr>
        <div>
            <table class="mui-table">
                <tr>
                    <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Length</td>
                    <td class="mui--text-dark mui--text-body1">120 minutes</td>
                </tr>
                <tr>
                    <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Director</td>
                    <td class="mui--text-dark mui--text-body1">Director</td>
                </tr>
                <tr>
                    <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Rating</td>
                    <td class="mui--text-dark mui--text-body1">4.8</td>
                </tr>
                <tr>
                    <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Price</td>
                    <td class="mui--text-dark mui--text-body1">5.00$</td>
                </tr>
                <tr>
                    <td colspan="2" class="mui--text-dark mui--text-body1" style="font-weight: bold;">Summary</td>

                </tr>
                <tr>
                    <td colspan="2">
                        Summary|Summary
                        Summary|Summary
                        Summary|Summary
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button
                            class=" mui-col-md-offset-4 mui-col-md-4  mui-btn--raised mui-btn mui-btn--primary">Buy</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button
                            class=" mui-col-md-offset-4 mui-col-md-4  mui-btn--flat mui-btn mui-btn--primary">Rate</button>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
    </div>
    <div style="width:100%; margin-top:50px;">
        <div class="mui--text-display1" style="margin-bottom:50px;">Comments</div>
        <div class="mui-panel mui-col-md-6 mui-col-md-offset-3">
            Comment1 text ....
        </div>

        <div class="mui-panel mui-col-md-6 mui-col-md-offset-3">
            Comment2 text ....
        </div>
    </div>
</body>

<script>
    includeHTML();
</script>

</html>