<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/mui.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/mui.js"></script>
    <script src="../js/include.js"></script>

    <title>Home </title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>

<body>
    <span w3-include-html="nav.html"></span>
    <br>
    <br>
    <form action="">
        <div>
            <h3> Filter</h3>
            <div class="mui-textfield" style="display:inline-block">
                <input type="text" name="director" placeholder="Director" style="text-align:center" />
                <button class=" mui-btn  mui-btn--primary">Search</button> </td>

            </div>
        </div>
    </form>
    <hr>

    <div class="films">
        <div class="mui-panel mui-col-md-6 mui-col-md-offset-3">
            <div class="mui--text-headline">Snowden</div>
            <div class="mui--text-dark-secondary mui--text-caption">2018</div>
            <hr>
            <div>
                <table class="mui-table">
                    <tr>
                        <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Length</td>
                        <td class="mui--text-dark mui--text-body1">120 minutes</td>
                    </tr>
                    <tr>
                        <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Director</td>
                        <td class="mui--text-dark mui--text-body1">Director</td>
                    </tr>
                    <tr>
                        <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Rating</td>
                        <td class="mui--text-dark mui--text-body1">4.8</td>
                    </tr>
                    <tr>
                        <td class="mui--text-dark mui--text-body1" style="font-weight: bold;">Price</td>
                        <td class="mui--text-dark mui--text-body1">5.00$</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class=" mui-btn--raised mui-btn mui-btn--flat mui-btn--danger">Delete</button> </td>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="2">
                            <button class=" mui-btn mui-btn--flat mui-btn--primary">More</button> </td>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>

</html>